/* @IMPORT
 ========================= */
@import "helpers/_mixins";

/* FONTS
 ========================= */
@include font-face('OpenSans-Bold', '../fonts/OpenSans/OpenSans-Bold', normal, normal, ttf);
@include font-face('OpenSans-Regular', '../fonts/OpenSans/OpenSans-Regular', normal, normal, ttf);
@include font-face('OpenSans-Semibold', '../fonts/OpenSans/OpenSans-Semibold', normal, normal, ttf);