/* @IMPORT
 ========================= */
@import "components/_variables";
@import "helpers/_mixins";


/* DEFAULT
 ========================= */
* {

  box-sizing: border-box;

}

html {

  font-family: $OpenSans-Regular;
  font-size: 16px;

}

body {

  font-family: $OpenSans-Regular;
  @include rem(fs, 16, $font-size-overall-mixin);
  @include rem(lh, 20, $font-size-overall-mixin);
  background-color: $bgc-default-ffffff;
  color: $color-default-333333;

}


/* @IMPORT HEADER
 ========================= */
@import "sections/_authorization";




/* @IMPORT MEDIA
 ========================= */
@import "helpers/_media";