<div class="authorization">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="authorization-title">
                    <h1 class="authorization-title__text">Welcome</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form name="authorization-form" class="authorization-form" novalidate>
                    <input
                            ng-model="$ctrl.credentials.email"
                            class="authorization-form__mail"
                            type="email"
                            placeholder="E-mail"
                            required>
                    <input
                            ng-model="$ctrl.credentials.password"
                            class="authorization-form__password"
                            type="password"
                            placeholder="Password"
                            required>
                    <button class="authorization-form__button" type="submit">Login</button>
                </form>
            </div>
        </div>
        <ul class="authorization-bubbles">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
    </div>
</div>