/* @IMPORT
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* FONTS
 ========================= */
@font-face {
  font-family: "OpenSans-Bold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Bold.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Regular";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "OpenSans-Semibold";
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/OpenSans/OpenSans-Semibold.ttf") format("truetype"); }
