/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* DEFAULT
 ========================= */
*,
:after,
:before {
  box-sizing: border-box; }

html {
  font-family: "Montserrat-Semibold", "Arial", sans-serif;
  font-size: 16px;
  height: 100%;
  overflow: hidden; }

body {
  position: relative;
  font-family: "Montserrat-Semibold", "Arial", sans-serif;
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 24px;
  line-height: 1.5rem;
  height: 100%;
  overflow: hidden;
  color: #3d3d3d;
  background-color: #e5e5e5; }

.container {
  position: relative;
  height: calc(100% - 60px);
  margin: 30px;
  padding: 30px;
  border-radius: 5px;
  background-color: #ffffff;
  overflow: hidden;
  box-shadow: 5px 5px 10px 5px #c9c9c9; }

.wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto; }

/* @IMPORT SIGN-IN
 ========================= */
/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
.sign-in {
  position: relative;
  height: 100%;
  width: 100%;
  background: #e92458;
  background: linear-gradient(to top, #e92458 0%, #3d3d3d 100%);
  overflow: hidden; }

.sign-in-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1; }

.sign-in-logo {
  display: block;
  margin-bottom: 40px; }
  .sign-in-logo__link {
    text-decoration: none !important; }
  .sign-in-logo__img {
    height: 80px;
    width: auto; }

.sign-in-block {
  width: 100%;
  max-width: 300px;
  padding: 0 5px; }

.sign-in-title {
  text-align: center;
  margin-bottom: 30px; }
  .sign-in-title__text {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #ffffff;
    margin: 0; }

.sign-in-form ::-moz-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-in-form :-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-in-form ::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-in-form__mail,
.sign-in-form__password {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  line-height: 14px;
  line-height: 0.875rem;
  font-size: 16px;
  font-size: 1rem;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto 10px auto;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 3px;
  transition: 0.25s;
  text-align: center;
  outline: none; }
  .sign-in-form__mail:focus,
  .sign-in-form__password:focus {
    width: 100%;
    color: #ffffff; }
  .sign-in-form__mail :-webkit-autofill,
  .sign-in-form__password :-webkit-autofill {
    color: #ffffff !important;
    text-fill-color: #ffffff !important; }

.sign-in-form__button {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto 10px auto;
  border: 3px solid transparent;
  border-radius: 3px;
  color: #ffffff;
  background-color: #3d3d3d;
  transition: 0.25s;
  text-align: center;
  outline: none;
  text-transform: uppercase; }

.sign-in-form__link {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  line-height: 16px;
  line-height: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ffffff !important; }

.sign-in__text {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #3d3d3d;
  margin: 0;
  text-align: center; }

.sign-in__link {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #ffffff;
  margin-left: 10px; }

.sign-in-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .sign-in-bubbles__item {
    position: absolute;
    bottom: -200px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(229, 233, 230, 0.28);
    -webkit-animation: square 15s infinite;
            animation: square 15s infinite;
    transition-timing-function: linear; }
    .sign-in-bubbles__item:nth-child(1) {
      left: 5%; }
    .sign-in-bubbles__item:nth-child(2) {
      left: 10%;
      width: 80px;
      height: 80px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 17s;
              animation-duration: 17s; }
    .sign-in-bubbles__item:nth-child(3) {
      left: 25%;
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
    .sign-in-bubbles__item:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      -webkit-animation-duration: 22s;
              animation-duration: 22s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-in-bubbles__item:nth-child(5) {
      left: 70%; }
    .sign-in-bubbles__item:nth-child(6) {
      left: 80%;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-in-bubbles__item:nth-child(7) {
      left: 32%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 7s;
              animation-delay: 7s; }
    .sign-in-bubbles__item:nth-child(8) {
      left: 55%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s; }
    .sign-in-bubbles__item:nth-child(9) {
      left: 25%;
      width: 10px;
      height: 10px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-in-bubbles__item:nth-child(10) {
      left: 90%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 11s;
              animation-delay: 11s; }

@-webkit-keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
            transform: translateY(-1500px) rotate(600deg); } }

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
            transform: translateY(-1500px) rotate(600deg); } }

.ng-valid {
  color: #ffffff !important;
  border-color: #ffffff !important; }

.ng-invalid.ng-touched {
  color: #ff1a1a;
  border-color: #ff1a1a; }

.ng-invalid .sign-in-form__button {
  opacity: 0.7;
  cursor: not-allowed; }

/* @IMPORT SIGN-UP
 ========================= */
/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
.sign-up {
  position: relative;
  height: 100%;
  width: 100%;
  background: #e92458;
  background: linear-gradient(to top, #e92458 0%, #3d3d3d 100%);
  overflow: hidden; }

.sign-up-wrapper {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  height: 100%;
  width: 100%;
  z-index: 1; }

.sign-up-logo {
  display: block;
  margin-bottom: 40px; }
  .sign-up-logo__link {
    text-decoration: none !important; }
  .sign-up-logo__img {
    height: 80px;
    width: auto; }

.sign-up-block {
  width: 100%;
  max-width: 300px;
  padding: 0 5px; }

.sign-up-title {
  text-align: center;
  margin-bottom: 30px; }
  .sign-up-title__text {
    font-family: "Montserrat-Bold", "Arial", sans-serif;
    font-size: 16px;
    font-size: 1rem;
    line-height: 18px;
    line-height: 1.125rem;
    color: #ffffff;
    margin: 0; }

.sign-up-form ::-moz-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-up-form :-ms-input-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-up-form ::-webkit-input-placeholder {
  color: #ffffff;
  font-weight: 300;
  text-transform: none; }

.sign-up-form__mail,
.sign-up-form__password {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  line-height: 14px;
  line-height: 0.875rem;
  font-size: 16px;
  font-size: 1rem;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto 10px auto;
  color: #ffffff;
  background-color: transparent;
  border: 3px solid #ffffff;
  border-radius: 3px;
  transition: 0.25s;
  text-align: center;
  outline: none; }
  .sign-up-form__mail:focus,
  .sign-up-form__password:focus {
    width: 100%;
    color: #ffffff; }
  .sign-up-form__mail :-webkit-autofill,
  .sign-up-form__password :-webkit-autofill {
    color: #ffffff !important;
    text-fill-color: #ffffff !important; }

.sign-up-form__button {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  display: block;
  width: 90%;
  padding: 10px;
  margin: 0 auto 10px auto;
  border: 3px solid transparent;
  border-radius: 3px;
  color: #ffffff;
  background-color: #3d3d3d;
  transition: 0.25s;
  text-align: center;
  outline: none;
  text-transform: uppercase; }

.sign-up-form__link {
  font-family: "Montserrat-Regular", "Arial", sans-serif;
  line-height: 16px;
  line-height: 1rem;
  font-size: 18px;
  font-size: 1.125rem;
  color: #ffffff !important; }

.sign-up__text {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #3d3d3d;
  margin: 0;
  text-align: center; }

.sign-up__link {
  font-family: "Montserrat-Bold", "Arial", sans-serif;
  font-size: 14px;
  font-size: 0.875rem;
  line-height: 16px;
  line-height: 1rem;
  color: #ffffff;
  margin-left: 10px; }

.sign-up-bubbles {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .sign-up-bubbles__item {
    position: absolute;
    bottom: -200px;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(229, 233, 230, 0.28);
    -webkit-animation: square 15s infinite;
            animation: square 15s infinite;
    transition-timing-function: linear; }
    .sign-up-bubbles__item:nth-child(1) {
      left: 5%; }
    .sign-up-bubbles__item:nth-child(2) {
      left: 10%;
      width: 80px;
      height: 80px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 17s;
              animation-duration: 17s; }
    .sign-up-bubbles__item:nth-child(3) {
      left: 25%;
      -webkit-animation-delay: 4s;
              animation-delay: 4s; }
    .sign-up-bubbles__item:nth-child(4) {
      left: 40%;
      width: 60px;
      height: 60px;
      -webkit-animation-duration: 22s;
              animation-duration: 22s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-up-bubbles__item:nth-child(5) {
      left: 70%; }
    .sign-up-bubbles__item:nth-child(6) {
      left: 80%;
      width: 120px;
      height: 120px;
      -webkit-animation-delay: 3s;
              animation-delay: 3s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-up-bubbles__item:nth-child(7) {
      left: 32%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 7s;
              animation-delay: 7s; }
    .sign-up-bubbles__item:nth-child(8) {
      left: 55%;
      width: 20px;
      height: 20px;
      -webkit-animation-delay: 15s;
              animation-delay: 15s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s; }
    .sign-up-bubbles__item:nth-child(9) {
      left: 25%;
      width: 10px;
      height: 10px;
      -webkit-animation-delay: 2s;
              animation-delay: 2s;
      -webkit-animation-duration: 40s;
              animation-duration: 40s;
      background-color: rgba(229, 233, 230, 0.28); }
    .sign-up-bubbles__item:nth-child(10) {
      left: 90%;
      width: 160px;
      height: 160px;
      -webkit-animation-delay: 11s;
              animation-delay: 11s; }

@keyframes square {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  100% {
    -webkit-transform: translateY(-1500px) rotate(600deg);
            transform: translateY(-1500px) rotate(600deg); } }

.ng-valid {
  color: #ffffff !important;
  border-color: #ffffff !important; }

.ng-invalid.ng-touched {
  color: #ff1a1a;
  border-color: #ff1a1a; }

.ng-invalid .sign-up-form__button {
  opacity: 0.7;
  cursor: not-allowed; }

/* @IMPORT HEADER
 ========================= */
/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
.logo {
  float: left;
  height: 60px;
  margin-right: 30px; }
  .logo__link {
    text-decoration: none; }
  .logo__img {
    height: 100%;
    width: auto; }

.project-menu {
  float: left; }
  .project-menu__list {
    margin: 0;
    padding: 0;
    list-style-type: none; }
  .project-menu__item {
    display: inline-block;
    padding: 20px; }

.project-dropdown-menu {
  display: none; }

/* @IMPORT MEDIA
 ========================= */
/* @IMPORT
 ========================= */
/* FONTS
 ========================= */
/* COLOR
 ========================= */
/* BACKGROUND-COLOR
 ========================= */
/* BORDER-COLOR
 ========================= */
/* BOX-SHADOW
 ========================= */
/* FONT-SIZE
 ========================= */
/* MEDIA
 ========================= */
/* FONTS-FACE
 	@include font-face('FontAwesome', '../fonts/FontAwesome/fontawesome-webfont', normal, normal, eot woff2 woff ttf svg);
 ========================= */
/* PX in REM
 	@include rem(lh, 12, 16);
	@include rem(fs, 12, 16);
 ========================= */
/* PSEUDO
	@include pseudo(block, absolute, ' ');
 ========================= */
/* CLEARFIX
	@include clearfix()
 ========================= */
/* PLEACEHOLDER
	@include placeholder(red, normal, none)
 ========================= */
/* LIST-CLEAR
	@include list-clear()
 ========================= */
/* DESKTOP FIRST METHOD
 ========================= */
/* Large Devices, Wide Screens */
/* Medium Devices, Desktops */
/* Small Devices, Tablets */
/* Extra Small Devices, Phones */
/* Custom, iPhone Retina */
/* MOBILE FIRST METHODD
 ========================= */
/* Custom, iPhone Retina */
/* Extra Small Devices, Phones */
/* Small Devices, Tablets */
/* Medium Devices, Desktops */
/* Large Devices, Wide Screens */
/* @IMPORT ANIMATE
 ========================= */
[ui-view].ng-enter, [ui-view].ng-leave {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  transition: all .5s ease-in-out; }

[ui-view].ng-enter {
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5); }

[ui-view].ng-enter-active {
  opacity: 1;
  -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1); }

[ui-view].ng-leave {
  opacity: 1;
  padding-left: 0px;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0); }

[ui-view].ng-leave-active {
  opacity: 0;
  padding-left: 100px;
  -webkit-transform: translate3d(100px, 0, 0);
          transform: translate3d(100px, 0, 0); }
