
/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";


.authorization {

  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  padding: 7% 0;
  background: $bgc-authorization-3498db;
  background: linear-gradient(to bottom right, $bgc-authorization-3498db 0%, $bgc-authorization-53e3a6 100%);
  overflow: hidden;

}


.authorization-title {

  text-align: center;
  margin-bottom: 50px;

  &__text {

    font-family: $OpenSans-Semibold;
    @include rem(lh, 32, $font-size-overall-mixin);
    @include rem(fs, 36, $font-size-overall-mixin);
    color: $color-authorization-ffffff;
    margin: 0;

  }

}


.authorization-form {

  z-index: 2;
  @include placeholder($color-authorization-ffffff, 300, none);

  &__mail,
  &__password {

    display: block;
    width: 250px;
    padding: 10px;
    margin: 0 auto 10px auto;
    text-align: center;
    outline: none;
    border: 1px solid $border-authorization;
    border-radius: 3px;
    color: $color-authorization-ffffff;
    background-color: rgba(255, 255, 255, 0.2);
    transition: 0.25s;

    &:hover {

      background-color: rgba(255, 255, 255, 0.4);

    }

    &:focus {

      width: 300px;
      background-color: $bgc-authorization-ffffff;
      color: $color-authorization-3498db;

    }

    :-webkit-autofill {

      color: $color-authorization-ffffff !important;
      background-color: rgba(255, 255, 255, 0.2) !important;
      -webkit-box-shadow: inset 0 0 0 50px rgba(255, 255, 255, 0.2) !important;
      -webkit-text-fill-color: $color-authorization-ffffff !important;

    }

  }

  &__button {

    display: block;
    width: 250px;
    padding: 10px;
    margin: 0 auto 10px auto;
    text-align: center;
    outline: none;
    border: 1px solid $border-authorization;
    border-radius: 3px;
    color: $color-authorization-3498db;
    background-color: $bgc-authorization-ffffff;
    transition: 0.25s;

    &:hover {

      width: 230px;

    }

  }

}


.authorization-bubbles {

  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  @include list-clear();

  & li {

    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    background-color: rgba(243, 156, 18, 0.15);
    bottom: -200px;
    animation: square 10s infinite;
    transition-timing-function: linear;

    &:nth-child(1) {

      left: 5%;

    }

    &:nth-child(2) {

      left: 10%;
      width: 80px;
      height: 80px;
      animation-delay: 2s;
      animation-duration: 17s;

    }

    &:nth-child(3) {

      left: 25%;
      animation-delay: 4s;

    }

    &:nth-child(4) {

      left: 40%;
      width: 60px;
      height: 60px;
      animation-duration: 22s;
      background-color: rgba(243, 156, 18, 0.25);

    }

    &:nth-child(5) {

      left: 70%;

    }

    &:nth-child(6) {

      left: 80%;
      width: 120px;
      height: 120px;
      animation-delay: 3s;
      background-color: rgba(243, 156, 18, 0.2);

    }

    &:nth-child(7) {

      left: 32%;
      width: 160px;
      height: 160px;
      animation-delay: 7s;

    }

    &:nth-child(8) {

      left: 55%;
      width: 20px;
      height: 20px;
      animation-delay: 15s;
      animation-duration: 40s;

    }

    &:nth-child(9) {

      left: 25%;
      width: 10px;
      height: 10px;
      animation-delay: 2s;
      animation-duration: 40s;
      background-color: rgba(243, 156, 18, 0.3);

    }

    &:nth-child(10) {

      left: 90%;
      width: 160px;
      height: 160px;
      animation-delay: 11s;

    }

  }

}


@keyframes square {

  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-700px) rotate(600deg);
  }

}