
/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";


.authorization {

  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  background: $bgc-3498db;
  background: linear-gradient(to top, $bgc-3498db 0%, $bgc-53e3a6 100%);
  overflow: hidden;

  &-wrapper {

    position: relative;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    z-index: 1;

  }

  &-title {

    text-align: center;
    margin-bottom: 50px;

    &__text {

      @include rem(lh, 32, $font-size-mixin);
      @include rem(fs, 36, $font-size-mixin);
      color: $color-ffffff;
      margin: 0;

    }

  }


  &-form {

    @include placeholder($color-ffffff, 300, none);

    &__mail,
    &__password {

      display: block;
      width: 250px;
      padding: 10px;
      margin: 0 auto 10px auto;
      color: $color-ffffff;
      background-color: $bgc-ffffff-02;
      border: 1px solid $border-ffffff;
      border-radius: 3px;
      transition: 0.25s;
      text-align: center;
      outline: none;

      &:hover {

        background-color: $bgc-ffffff-04;

      }

      &:focus {

        width: 300px;
        color: $color-333333;
        background-color: $bgc-ffffff;

      }

      :-webkit-autofill {

        color: $color-ffffff !important;
        background-color: $bgc-ffffff-02 !important;
        box-shadow: inset 0 0 0 50px $bgc-ffffff-02 !important;
        text-fill-color: $color-ffffff !important;

      }

    }

    &__button {

      display: block;
      width: 250px;
      padding: 10px;
      margin: 0 auto 10px auto;
      border: 1px solid $border-ffffff;
      border-radius: 3px;
      color: $color-333333;
      background-color: $bgc-ffffff;
      transition: 0.25s;
      text-align: center;
      outline: none;

      &:hover {

        width: 230px;

      }

    }

  }


  &-bubbles {

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    @include list-clear();

    &__item {

      position: absolute;
      bottom: -200px;
      display: block;
      width: 40px;
      height: 40px;
      background-color: $bgc-f39c12-02;
      animation: square 15s infinite;
      transition-timing-function: linear;

      &:nth-child(1) {

        left: 5%;

      }

      &:nth-child(2) {

        left: 10%;
        width: 80px;
        height: 80px;
        animation-delay: 2s;
        animation-duration: 17s;

      }

      &:nth-child(3) {

        left: 25%;
        animation-delay: 4s;

      }

      &:nth-child(4) {

        left: 40%;
        width: 60px;
        height: 60px;
        animation-duration: 22s;
        background-color: $bgc-f39c12-03;

      }

      &:nth-child(5) {

        left: 70%;

      }

      &:nth-child(6) {

        left: 80%;
        width: 120px;
        height: 120px;
        animation-delay: 3s;
        background-color: $bgc-f39c12-02;

      }

      &:nth-child(7) {

        left: 32%;
        width: 160px;
        height: 160px;
        animation-delay: 7s;

      }

      &:nth-child(8) {

        left: 55%;
        width: 20px;
        height: 20px;
        animation-delay: 15s;
        animation-duration: 40s;

      }

      &:nth-child(9) {

        left: 25%;
        width: 10px;
        height: 10px;
        animation-delay: 2s;
        animation-duration: 40s;
        background-color: $bgc-f39c12-03;

      }

      &:nth-child(10) {

        left: 90%;
        width: 160px;
        height: 160px;
        animation-delay: 11s;

      }

    }

  }

}


@keyframes square {

  0% {

    transform: translateY(0);

  }

  100% {

    transform: translateY(-1500px) rotate(600deg);

  }

}