/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";


.logo {

  float: left;
  height: 60px;
  margin-right: 30px;

  &__link {
    text-decoration: none;
  }

  &__img {
    height: 100%;
    width: auto;
  }
}



.project-menu {

  float: left;

  &__list {
    @include list-clear();
  }

  &__item {
    display: inline-block;
    padding: 20px;
  }

}



.project-dropdown-menu {
  display: none;
}