/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";

.header {
  padding: 30px 30px 10px 30px;
  @include clearfix();
  margin-bottom: 20px;
}

.logo {

  float: left;
  height: 60px;
  margin-right: 20px;

  &__link {
    text-decoration: none;
  }

  &__img {
    height: 100%;
    width: auto;
  }
}



.project-menu {

  float: left;

  &__list {
    @include list-clear();
  }

  &__item {
    display: inline-block;
    padding: 20px;
  }

  &__link {
    line-height: 20px;
  }

}



.project-dropdown-menu {
  display: none;
}