
/* @IMPORT
 ========================= */
@import "../components/_variables";
@import "../helpers/_mixins";


.search {

  min-height: 130px;
  max-height: 130px;
  padding: 21px 24px 30px 24px;
  margin-bottom: 25px;
  background: $bgc-3498db;
  @include clearfix();
  overflow: hidden;

  &-info {

    float: left;
    width: 50%;

    &__title {

      font-family: $OpenSans-Bold;
      @include rem(fs, 34, $font-size-mixin);
      @include rem(lh, 42, $font-size-mixin);
      margin: 0 0 10px 0;
      color: $color-ffffff;

    }


    &__text {

      @include rem(fs, 20, $font-size-mixin);
      @include rem(lh, 28, $font-size-mixin);
      color: $color-ffffff;
      margin: 0;

    }

  }

  &-form {

    float: right;
    width: 50%;
    text-align: right;
    @include placeholder($color-ffffff, normal, none);

    &__input-search {

      font-family: $OpenSans-Regular;
      @include rem(fs, 16, $font-size-mixin);
      @include rem(lh, 18, $font-size-mixin);
      display: inline-block;
      padding: 15px 10%;
      margin-bottom: 10px;
      border: 1px solid $border-ffffff;
      border-radius: 3px;
      color: $color-ffffff;
      background-color: $bgc-ffffff-02;
      text-align: center;
      outline: none !important;
      overflow: hidden;
      transition: 1s;
      
      &:hover {

        background-color: $bgc-ffffff-04;
        
      }

      &:focus {

        padding: 15px 15%;
        color: $color-333333;
        background-color: $bgc-ffffff;

      }

    }

    &__input-submit {

      display: block;
      margin: 0 0 0 auto;
      color: $color-ffffff;
      text-decoration: none !important;
      border: none !important;
      background-color: transparent;
      outline: none !important;

    }

  }

}


.command {

  display: block;
  min-height: 45px;
  max-height: 45px;
  margin-bottom: 20px;
  overflow: hidden;

  &__link {

    position: relative;
    display: inline-block;
    padding: 10px 30px 10px 40px;
    margin-right: 10px;
    border: 1px solid $border-dedede;
    border-radius: 3px;
    color: $color-333333;
    background-color: transparent;
    text-decoration: none !important;
    transition: 1s;

    &:before {

      font-family: FontAwesome;
      top: 50%;
      left: 15px;
      transform: translateY(-50%);
      transition: 1s;

    }

    &--add {

      &:before {

        @include pseudo(block, absolute, '\f067');

      }

      &:hover {

        background-color: $bgc-f2f2f2;

        &:before {

          color: $color-4daf58;

        }

      }

    }

    &--delete {

      &:before {

        @include pseudo(block, absolute, '\f068');

      }
      
      &:hover {

        background-color: $bgc-f2f2f2;

        &:before {

          color: $color-ff0101;

        }

      }

    }

  }

}


.order-list {

  height: calc(100% - (40px + 20px + 130px + 25px + 45px + 20px)); //header: height = 40px, margin-bottom = 20px; search: height = 1300px, margin-bottom = 25px; command: height = 45px; margin-bottom = 20px;
  overflow: auto;
  border-top: 1px solid $border-dedede;

  &__table {

    @include rem(fs, 18, $font-size-mixin);
    @include rem(lh, 20, $font-size-mixin);
    width: 100%;
    text-align: left;
    color: $color-333333;
    border-collapse: collapse;

    thead {

      background-color: $bgc-dedede;

    }

    tr {

      border: 1px solid $border-dedede;

      &:last-child {

        border-top: none ;

      }

      &:nth-child(2n) {

        background-color: $bgc-f2f2f2;

      }

      & td:not(:last-child) {

        cursor: pointer;

      }
      
    }

    & th,
    & td {

      padding: 10px;

      &:first-child {

        width: 80px;
        max-width: 80px;
        text-align: center;

      }

      &:nth-child(2) {

        width: 270px;
        max-width: 270px;

      }

      &:last-child {

        width: 120px;
        max-width: 120px;
        text-align: center;

      }

    }

    & a {

      display: inline-block;
      padding: 10px;
      margin: 0 5px;
      border: 1px solid $border-dedede;
      border-radius: 3px;
      transition: 1s;
      overflow: hidden;

      & .fa {

        transition: 1s;

      }
      
      &:hover {

        background-color: $bgc-f2f2f2;

        & .fa-trash-o {

          color: $color-ff0101;

        }

        & .fa-pencil {

          color: $color-4daf58;

        }

      }
      
    }

  }

}