
/* FONTS
 ========================= */
$Montserrat-Bold: 'Montserrat-Bold', 'Arial', sans-serif;
$Montserrat-Regular: 'Montserrat-Regular', 'Arial', sans-serif;
$Montserrat-Semibold: 'Montserrat-Semibold', 'Arial', sans-serif;


/* COLOR
 ========================= */
$color-3d3d3d: #3d3d3d;
$color-ffffff: #ffffff;
$color-ff1a1a: #ff1a1a;


/* BACKGROUND-COLOR
 ========================= */
$bgc-e5e5e5: #e5e5e5;
$bgc-ffffff: #ffffff;
$bgc-e92458: #e92458;
$bgc-3d3d3d: #3d3d3d;
$bgc-e5e6e9: rgba(229, 233, 230, 0.28);


/* BORDER-COLOR
 ========================= */
$border-ffffff: #ffffff;
$border-ff1a1a: #ff1a1a;



/* BOX-SHADOW
 ========================= */
$bs-c9c9c9: #c9c9c9;



/* FONT-SIZE
 ========================= */
$font-size: 14px;
$font-size-mixin: 14;


/* MEDIA
 ========================= */
$phone: 320px;
$phone-landscape: 480px;
$tablet: 768px;
$desktop: 992px;
$site: 1280px;